@model MulltiplaJML.Models.Invent.Branch

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteMulltiplaJML.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.branchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.branchName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDefaultBranch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDefaultBranch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.street1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.street1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.street2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.street2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.inscricaoestadual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.inscricaoestadual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.patchcertificado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.patchcertificado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pwcertificado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pwcertificado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="branchId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
