@model IEnumerable<MulltiplaJML.Models.DFe.ResNFe>

@{
    ViewData["Title"] = "Notas - Principal";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex2.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";
    ViewData["ListTitle"] = "Lista de Notas Recebidas";
    //ViewData["IndexInfo"] = "O cliente é uma organização que compra produtos da sua empresa. Você vende produtos para eles.";
}

<table class="table">
    <thead>
        <tr>
                <th>
                    Chave
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CNPJ)
                </th>
             
                <th>
                    Cliente
                </th>
               
                <th>
                   Dt. Emmissão
                </th>
                
                <th>
                   Valor Nota
                </th>
                
               
                
                <th>
                   Tomador
                </th>
               
              
               
               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChNFe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.XNome)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.DhEmi)
            </td>
            
            <td>
              R$  @Html.DisplayFor(modelItem => item.VNF)
            </td>
           
          
           
            <td>
                @Html.DisplayFor(modelItem => item.CnpjTomador)
            </td>
           
           
           
           
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
            </td>
        </tr>
}
    </tbody>
</table>
