@model MulltiplaJML.Models.RM.CapexImport

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CapexImport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContaContabil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContaContabil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coligada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coligada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContaGerencial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContaGerencial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColigadaGerencial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColigadaGerencial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CentroCusto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CentroCusto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorMes12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorMes12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor2Mes12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor2Mes12)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
