@model MulltiplaJML.Models.XML.GDXMLHEADER

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteMulltiplaJML.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GDXMLHEADER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHAVE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAVE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CUF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NATOP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NATOP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.INDPAG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.INDPAG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MOD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MOD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SERIE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SERIE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NNF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NNF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DEMI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DEMI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DSAIENT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DSAIENT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HSAIENT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HSAIENT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TPNF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPNF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CMUNFG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CMUNFG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TPIMP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPIMP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TPEMIS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPEMIS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CDV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CDV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TPAMB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPAMB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FINNFE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FINNFE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PROCEMI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROCEMI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VERPROC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VERPROC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJEMITENTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJEMITENTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJDESTINATARIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJDESTINATARIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DVENC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DVENC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.INFCPL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.INFCPL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VBC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VBC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VICMS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VICMS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VBCST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VBCST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VPROD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VPROD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VFRETE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VFRETE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VSEG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VSEG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VDESC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VDESC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VII)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VII)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VIPI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VIPI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VPIS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VPIS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VCOFINS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VCOFINS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VOUTRO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VOUTRO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VNF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VNF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VTOTTRIB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VTOTTRIB)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
