@model MulltiplaJML.Models.Compras
@inject MulltiplaJML.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex2.cshtml";


      MulltiplaJML.Models.ItensCompra compras = new ItensCompra();


}

<h2>Create</h2>

<h4>Compras</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">


                <div class="form-group col-md-3">
                    <label asp-for="Empresa" class="control-label"></label>
                    <select asp-for="Empresa" class="form-control" asp-items="ViewBag.Coligada"></select>
                    <span asp-validation-for="Empresa" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">

                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>

                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Departamento" class="control-label"></label>
                    <input asp-for="Departamento" class="form-control" />
                    <span asp-validation-for="Departamento" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="Processo" class="control-label"></label>
                    <input asp-for="Processo" class="form-control" />
                    <span asp-validation-for="Processo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DataSolicitacao" class="control-label"></label>
                    <input asp-for="DataSolicitacao" class="form-control" />
                    <span asp-validation-for="DataSolicitacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Area" class="control-label"></label>
                    <input asp-for="Area" class="form-control" />
                    <span asp-validation-for="Area" class="text-danger"></span>

                </div>
                <div class="form-group col-md-3">

                    <label asp-for="Cargo" class="control-label"></label>
                    <input asp-for="Cargo" class="form-control" />
                    <span asp-validation-for="Cargo" class="text-danger"></span>

                </div>
                <div class="form-group col-md-3">

                    <label asp-for="PrazoEntrega" class="control-label"></label>
                    <select asp-for="PrazoEntrega" class="form-control" asp-items="ViewBag.PrazoEntrega"></select>
                    <span asp-validation-for="PrazoEntrega" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Motivo" class="control-label"></label>
                <textarea asp-for="Motivo" class="form-control" style="height:100px; resize: none"></textarea>
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group col-md-6">
                    <label asp-for="Fornecedor" class="control-label"></label>
                    <input asp-for="Fornecedor" class="form-control" />
                    <span asp-validation-for="Fornecedor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Movimento" class="control-label"></label>
                    <select asp-for="Movimento" class="form-control" asp-items="ViewBag.Movimento"></select>
                    <span asp-validation-for="Movimento" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="TipoServico" class="control-label"></label>
                    <select asp-for="TipoServico" class="form-control" asp-items="ViewBag.TipoServico"></select>
                    <span asp-validation-for="TipoServico" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DataEntrega" class="control-label"></label>
                    <input asp-for="DataEntrega" class="form-control" />
                    <span asp-validation-for="DataEntrega" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="CondicaoPagamento" class="control-label"></label>
                    <select asp-for="CondicaoPagamento" class="form-control" asp-items="ViewBag.CondicaoPagamento"></select>

                    <span asp-validation-for="CondicaoPagamento" class="text-danger"></span>
                </div>


                <div class="form-group col-md-3">
                    <label asp-for="DataVencimento" class="control-label"></label>
                    <input asp-for="DataVencimento" class="form-control" />

                    <span asp-validation-for="DataVencimento" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="form-group col-md-12">
                    <br />     <br />
                    <button type="submit" value="Create" class="btn btn-success">Salvar</button>
                    <input type="submit" value="Aprovar" class="btn btn-info" />
                    <input type="submit" value="Enviar" class="btn btn-purple" />
                    <input type="submit" value="Cancelar" class="btn btn-danger" />
                    <input type="submit" value="Sair" class="btn btn-secondary" />
                </div>
            </div>



        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <label asp-for="@Model.itensCompras[0].CodProduto" class="control-label"></label>
                    <select asp-for="@compras.CodProduto" class="form-control produto" asp-items="ViewBag.Produto"></select>
                    <span asp-validation-for="@compras.CodProduto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="@compras.Quantidade" class="control-label"></label>
                    <input asp-for="@compras.Quantidade" class="form-control quantidade" />
                    <span asp-validation-for="@compras.Quantidade" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="@compras.UnidadeMedida" class="control-label"></label>
                    <input asp-for="@compras.UnidadeMedida" class="form-control" />
                    <span asp-validation-for="@compras.UnidadeMedida" class="text-danger"></span>
                </div>


                <div class="form-group col-md-2">
                    <label asp-for="@compras.ValorUnitario" class="control-label"></label>
                    <input asp-for="@compras.ValorUnitario" class="form-control" />
                    <span asp-validation-for="@compras.ValorUnitario" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="@compras.ValorTotal" class="control-label"></label>
                    <input asp-for="@compras.ValorTotal" class="form-control" />
                    <span asp-validation-for="@compras.ValorTotal" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="@compras.EspecificaçãoTecnica" class="control-label"></label>
                    <input asp-for="@compras.EspecificaçãoTecnica" class="form-control" />
                    <span asp-validation-for="@compras.EspecificaçãoTecnica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="SalvarItens" class="btn btn-primary" onclick="SalvarItens()" />
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
