@model MulltiplaJML.Models.XML.GDXMLCTE

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcore.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GDXMLCTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chCte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chCte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cUF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cUF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cCT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cCT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.natOp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.natOp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.forPag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.forPag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.serie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.serie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nCT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nCT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dhEmi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dhEmi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tpImp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tpImp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tpEmis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tpEmis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cDV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cDV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tpAmb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tpAmb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tpCTe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tpCTe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.procEmi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.procEmi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.verProc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.verProc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cMunEnv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cMunEnv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.xMunEnv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.xMunEnv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UFEnv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UFEnv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.modal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tpServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tpServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cMunIni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cMunIni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.xml)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.xml)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vBC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vBC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pICMS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pICMS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vICMS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vICMS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Integrado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Integrado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emitente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emitente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remetente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remetente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destinatario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destinatario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vTPrest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vTPrest)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
